*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ML Data & Virtual Environments
ml/venv/
ml/*.keras
ml/*.tflite
ml/*.log
ml/predictions/
ml/pred_buffer/
ml/raw_data/
ml/reverify_output/

# Training Data
# Ignore external files (prefixed with ext_) in any dataset subdirectory
ml/dataset/**/ext_*
.idea/
ml/tools/logs/
ml/tools/temp/
ml/tools/logs/
ml/tools/debug_output/
